:root {
    --darkgreen:rgb(2, 149, 137);
    --lightgreen: rgb(219, 247, 195);
    --beigesfondo: rgb(220, 218, 211);
    --gray: rgb(234, 234, 234);
    --darkgray: rgb(177, 177, 177);
    --beige: rgb(243, 238, 234);
    --grayactive: rgb(235, 233, 235);
    --lightblue: rgb(142, 218, 252);
    --white: white;
}
.debug {border: 2px solid red;}
.debug2 {border: 2px solid rgb(17, 0, 255);}
.main-wrapper {
    height: 100vh;
    background-image: linear-gradient(var(--darkgreen) 15%, var(--beigesfondo) 15%);
    padding: 30px 70px;
    overflow: hidden;
}
.central-container {
    height: calc(100vh - 60px);
    display: flex;
}
.left-column, .right-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-column {
    width: 35%;
    background-color: var(--white) ;
}
.right-column {
    width: 65%;
    background-image: url(../img/mine.jpg);
}
.top-gray-bars {
    background-color: var(--gray);
    height: 50px;
}
.user-controls {
    border-right: 1px solid var(--darkgray);
}
.notifications-control {
    height: 60px;
    background-color: var(--lightblue);
}
.search-div {
    background-color: var(--gray);
    height: 40px;
}
.contacts-list {
    height: calc(100% - 150px);
    overflow-y: auto;
}
.single-chat-content {
    height: calc(100% - 100px);
    overflow-y: auto;
}
.bottom-beige-bar {
    height: 50px;
    background-color: var(--beige);
}