:root {
    --darkgreen:rgb(2, 149, 137);
    --graysfondo: rgb(216, 216, 213);
    --gray: rgb(234, 234, 234);
    --darkgray: rgb(177, 177, 177);
    --beige: rgb(243, 238, 234);
    --lightgray: rgb(243, 243, 243);
    --grayactive: rgb(235, 233, 235);
    --lightblue: rgb(142, 218, 252);
    --white: white;
    --lightgreen: rgb(219, 247, 195);
}
img {
    max-width: 100%;
}
.debug {border: 2px solid red;}
.debug2 {border: 2px solid rgb(17, 0, 255);}
.main-wrapper {
    height: 100vh;
    background-image: linear-gradient(var(--darkgreen) 15%, var(--graysfondo) 15%);
    padding: 30px 70px;
    overflow: hidden;
}
.central-container {
    height: calc(100vh - 60px);
    display: flex;
}
.left-column, .right-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-column {
    width: 35%;
    background-color: var(--white) ;
}
.right-column {
    width: 65%;
    background-image: url(../img/mine.jpg);
}
.top-gray-bars {
    background-color: var(--gray);
    height: 50px;
}
.user-controls {
    border-right: 1px solid var(--darkgray);
}
.notifications-control {
    height: 60px;
    background-color: var(--lightblue);
}
.search-div {
    background-color: var(--lightgray);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 7px;
}
.btn-search {
    background-color: var(--white);
    color: var(--darkgray);
    font-size: 13px;
    padding: 5px 15px;
    border: none;
    margin-right: 2px;
}
.search-div input {
    width: 100%;
    color: var(--darkgray);
    font-size: 13px;
    padding: 5px 15px;
    border: none;
}
.contacts-list {
    height: calc(100% - 150px);
    overflow-y: auto;
    padding-top: 8px;
}
.single-contact {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 7px 0px 3px 10px;
    border-top: 1px solid var(--gray);
}
.img-single-contact {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.name-single-contact, .time-single-contact {
    height: 100%;
}
.name-single-contact {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 14px;
    line-height: 16px;
}
.last-msg {
    font-size: 12px; 
    color: var(--darkgray);
}
.time-single-contact {
    width: 40px;
    font-size: 12px;
    color: var(--darkgray);
}
.single-chat-content {
    height: calc(100% - 100px);
    overflow-y: auto;
}
.bottom-beige-bar {
    height: 50px;
    background-color: var(--beige);
}